{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}

<body style="background-color: purple;">
    <div class = "login">
        <div class="card text-center" style="width: 21rem; max-width: 80%; margin: auto; margin-top: 100px;">
            <div class="card-body">
                <h1 class="mb-4">Login</h1>
    
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="form-floating mb-3">
                        <input type="text" name="username" class="form-control" id="floatingInput">
                        <label for="floatingInput">Username</label>
                    </div>
                
                    <div class="form-floating mb-2">
                        <input type="password" name="password" class="form-control" id="floatingPassword">
                        <label for="floatingPassword">Password</label>
                    </div>
                
                    <input class="btn login_btn btn-primary mb-2" type="submit" value="Login">
                </form>
            
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}     
                    
                <p>Belum mempunyai akun? <a href="{% url 'todolist:register' %}">Buat Akun</a></p> 
            </div>
        </div>
    </div>    
</body>
{% endblock content %}