{% extends 'base.html' %}

{% block meta %}
<title>Todolist-ku</title>
<style>
    .card{
        width: 50rem; 
        margin: auto; 
        max-width: 80%; 
        background-color: rgb(233, 248, 255);
    }
    .card:hover{
        background-color: rgb(206, 233, 255);
        transform: translate(0px, -1px);
        transition-duration: 0.1s;
    }
</style>
{% endblock meta %}

{% block content %}
<body style="margin-bottom: 100px;">
    <div class="modal fade" id="addTaskModal" tabindex="-1" aria-labelledby="addTaskModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addTaskModalLabel">Tambah Task Baru</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="formTaskBaru" onsubmit="return false;">
                    <div class="modal-body">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Judul</label>
                            <input type="text" class="form-control" id="task_title" name="task_title">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Deskripsi</label>
                            <textarea class="form-control" id="task_description" rows="3" name="task_description"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button id="submitTaskBaru" type="submit" class="btn btn-success" value="Submit" data-bs-dismiss="modal">Simpan</button>
                    </div>    
                </form>
            </div>
        </div>
    </div>
    
    <nav class="navbar navbar-expand-lg" style="background-color: purple;">
        <div class="container-fluid">
            <div class="navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="navbar-brand mb-0 h1 m-2" type="button" href="{% url 'todolist:show_todolist'%}" style="color: white;">Todolist-ku</a>
                    </li>
                </ul>
            </div>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <button type="button" class="btn btn-primary m-2" data-bs-toggle="modal" data-bs-target="#addTaskModal">
                        Tambah Task Baru
                    </button>                      
                </li>
                <li class="nav-item">
                    <a class="btn btn-danger m-2" type="button" href="{% url 'todolist:logout' %}">Logout</a>
                </li>
            </ul>    
        </div>
    </nav>
    
    <div id="top-content"></div>
    <div id="todolist-cards"></div>
</body>

<script>
    async function getTodolist() {
        return fetch("/todolist/json/").then((res) => res.json())
    }

    async function refreshTodolist() {
        document.getElementById("task_title").value = ""
        document.getElementById("task_description").value = ""

        document.getElementById("top-content").innerHTML = ""
        document.getElementById("todolist-cards").innerHTML = ""

        const todolist = await getTodolist()
        if(todolist.length > 0) {
            topContent = `
            <h1 style="text-align: center; margin-top: 20px; margin-bottom: 50px;">Halo, {{username}}!</h1>
            `
        } else {
            topContent = `
            <h1 style="text-align: center; margin-top: 20px;">Halo, {{username}}!</h1>
            <p style="text-align: center;">Kamu tidak punya todolist, nih.</p>
            `
        }
        document.getElementById("top-content").innerHTML = topContent

        let todolistCardsString = ``
        todolist.forEach((task) => {
            todolistCardsString += `
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">
                        ${task.fields.title}
            `
            if(task.fields.is_finished) {
                todolistCardsString += `
                <span class="badge text-bg-success">Selesai</span>
                `
            } 
            else {
                todolistCardsString += `
                <span class="badge text-bg-secondary">Belum Selesai</span>
                `
            }
            todolistCardsString += `
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">dibuat pada ${task.fields.date}</h6>
                    <p class="card-text">${task.fields.description}</p>
                    <a class="btn btn-success" href="change-status/${task.pk}">Ubah Status</a>
                    <a class="btn btn-danger" onclick="deleteTodolist(${task.pk})">Hapus Task</a>
                </div>
            </div>
            `
        })

        document.getElementById("todolist-cards").innerHTML = todolistCardsString
    }

    function addTodolist() {
        fetch(`/todolist/add/`, {
            method: "POST",
            body: new FormData(document.querySelector("#formTaskBaru"))
        }).then(refreshTodolist)
        return false
    }

    function deleteTodolist(id) {
        fetch(`/todolist/delete/${id}`, {
            method: "GET"
        }).then(refreshTodolist)
        return false
    }

    document.getElementById("submitTaskBaru").onclick = addTodolist
    refreshTodolist()
</script>
{% endblock content %}